# Node modules
node_modules/

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/versions

# Production build
/dist
/build
/.vite

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
/coverage
.nyc_output

/.vite
/module

# IDEs and editors
.vscode/*
!/.vscode/extensions.json
.idea/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

# PnP
/.pnp
.pnp.js

# Build artifacts
*.tsbuildinfo

# Platform-specific folders
/android
/ios

# Gradle cache
/.gradle

# Miscellaneous
*.pem
*.log
*.tmp
*.swp
*.swo
